sudo: required
services:
  - docker

matrix:
    include:
        - os: linux
          compiler: gcc
          language: cpp
          sudo: true
          script: docker build --build-arg TARGET_LLVM_VERSION=8 .
        - os: linux
          compiler: gcc
          language: cpp
          sudo: true
          script: docker build --build-arg TARGET_LLVM_VERSION=9 .
        - os: linux
          compiler: gcc
          language: cpp
          sudo: true
          script: docker build --build-arg TARGET_LLVM_VERSION=10 .
